{% extends 'base.html.twig' %}
{% block title %}Dashboard{% endblock %} 
    {% block content %}
    
    <div class="container">
        <!--Card-->
        <div class="card">
            <div class="row">
                <div class="card-block">     
                    <div class="col-md-12">
                    <h3 class="card-title">Admin</h3>
                    </div>
                    <div class="col-md-12">
                        <!--Card Success-->
                        <div class="card z-depth-2">
                        {% if message is defined %}
                        <div class="alert alert-info" role="alert">
                            {{ message }}
                        </div>
                        {% endif %}
                            <div class="card-block">
                                <h2>Options</h2> 
                                <a href="{{ path('admin_resetpg') }}"><button style="height:100px; margin-bottom:20px;"  class="btn-danger-outline waves-effect"><i class="fa fa-3x fa-database" aria-hidden="true"></i><h3><b>Reset Game Raster!</b></h3></button></a>
                            </div>
                        </div>
                        <!--/.Card Success-->
                    </div>
                </div>
            </div>
        </div>
    </div>
   <!--/.Mask-->
    {% endblock content %}

