{% extends 'base.html.twig' %}
{% block title %}Dashboard{% endblock %} 
    {% block content %}
    
    <!--Mask-->
    <div class="container"> 
        <div class="row">
            <div class="col-md-12" style="color:#fff" >
                <div style="background: rgba(44, 62, 80, 0.85);" class="card text-xs-center">                
                    <h3 style="background: rgba(44, 62, 80, 1)" class="card-header white-text">Gebiet erfolgreich eingenommen!&nbsp;&nbsp;
                        <!-- Trigger the modal with a button -->
                        <a style="color:white" data-toggle="modal" data-target="#help"><strong><i class="fa fa-question-circle" aria-hidden="true"></i></strong></a>
                    </h3> 
                    <div class="row">
                        <div class="col-xs-12 col-lg-3 text-xs-center">
                            <img style="height:200px;" src="{{ asset('img/droid-153990.svg') }}">
                        </div>
                        <div class="col-xs-12 col-lg-8 text-xs-left">
                            <br>
                            <div class="bubble">
                                <h4> Gut gemacht {{ user.getUsername }}!</h4>
                                <p>
                                    Das Sternenarchiv und dein Team sind dir Dankbar.!
                                    Die Aufklärungsdrohne wurde erfolgreich kalibriert und ist nun auf dem Weg. 
                                </p>                               
                                <p>
                                    Du hast folgende Belohnung erhalten:<br>
                                    <p style="color:#fff">Sternenstaub: 50 X <i style="color:#fdd835 !important" class="fa fa-star"></i></p>
                                    <p style="color:#fff">Äthermarke: 1 X <i style="color:#69f0ae !important" class="fa fa-cubes"></i></p>
                                    <p style="color:#fff">Erfahrungspunkte: <strong>4</strong></p>
                                </p>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="col-md-12">  
                        <a href="{{ path('map') }}" class="btn btn-inverse btn-lg btn-block" style="border-radius: 20px; background-color: #2BBBAD ; margin-left:0px !important">OK</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
   <!--/.Mask-->
    {% endblock content %}

